html, body {
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 390px) {
  header li:nth-child(1) {
    width: 50%;
  }
}

header ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #61D2B4;
  left: -100%;
  padding: 0 1em;
}

header ul img {
  max-width: 100%;
  height: auto;
}

header ul a {
  text-decoration: none;
  color: black;
  font-weight: 700;
}

.box-menu-icon {
  display: inline-block;
  cursor: pointer;
}

.bar1, .bar2, .bar3 {
  width: 25px;
  height: 3px;
  margin: 6px 0;
  transition: 0.4s;
  border-radius: 1px;
  background-color: #7e0000;
}

@media screen and (max-width: 768px) {
  .links {
    display: flex;
    flex-direction: column;
    align-items: start;
    background: #61D2B4;
    position: absolute;
    line-height: 3;
  }
  .links-open {
    top: 0;
    right: 0;
    left: 0;
    transition: 0.4s;
  }
  .botoes-open {
    position: absolute;
    z-index: 2;
    right: 8%;
  }
}

@media screen and (min-width: 768px) {
  .box-menu-icon {
    display: none;
  }
  .menu-desk {
    width: 50%;
    margin: auto;
  }
}

.sensor {
  list-style: none;
}

.sensor b {
  color: black;
}

.align {
  display: flex;
  flex-direction: column;
}

.sensor {
  margin: 4em auto;
}

.titulo-apresentacao {
  text-align: center;
  margin-top: 2em;
}

.textos-apresentacao {
  padding: 0 10%;
}

.textos-apresentacao a {
  font-weight: 700;
}

.lista-cursos {
  display: flex;
  flex-direction: column;
}

.lista-cursos ul {
  list-style: none;
}

.center {
  text-align: center;
  margin-top: 3em;
}

.img-resp {
  max-width: 100%;
  height: auto;
}

@media screen and (min-width: 768px) {
  .lista-cursos {
    flex-direction: row;
    justify-content: space-around;
  }
}

.instrucoes {
  padding: 0 10% 10%;
  text-align: center;
}

.instrucoes img {
  margin: 2em 0;
}
